# Scala
*.class
*.log

# IntelliJ
*.iml
*.ipr
*.iws
.idea
out

# Eclipse(Scala IDE)
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

# macOS
.DS_Store